@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 60px;
  overflow-x: hidden;
  background: #323b43;
}

.wrapper {
  padding: 0px 12px 0 12px;
}
.card {
  border: none;
}

.card-body {
  background: #36404a;
  color: #ced4da;
}

.external-event {
  cursor: move;
  margin: 10px 0;
  padding: 8px 10px;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .fc td {
} */
